.btn-blue {
	background-color:black;
	color: white;
	padding:  15px 20px;
	border-radius: 5%;
	text-decoration: none;
	font-weight: bold;
	font-family: roboto,sans-serif;
}

.btn-blue:hover {
	background-color:black;
	color: white;
}

